/* Navbar container */
h1, h2, h3{
    color: #1b264f;
}
p{
    color: #302b27;
}


body{
    background-color: #f5f3f5;
    font-family: "Open Sans", sans-serif;
    align-items: center;
    text-align: center;
    margin: 0
}


.navbar {
  display: flex;                     /* makes logo, ul, and CTA horizontal */
  justify-content: space-between;    /* spreads the three main sections evenly */
  align-items: center;
  padding-left: 10%;
  padding-right: 10%;
  background-color: #1b264f;
}

/* Nav links */
.nav-links {
  display: flex;                     /* horizontal list items */
  list-style: none;                  /* remove bullets */
  padding: 0;
  margin: 0;
  gap: 40px;                         /* space between Services, About, Contact */
}

/* Links styling */
.nav-links li a {
  text-decoration: none;
  color: #f5f3f5;
  font-weight: 500;
  transition: color 0.3s;
}

.nav-links li a:hover {
  color: #0b5ed7;
}




.service-blocks {
    display: flex;
    text-align: left;
    justify-content: space-between;
    height: 10%;
    margin-top: 75px;
}
.block {
    border-radius: 7px;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}
.block:hover {
  transform: translateY(-8px); /* lifts the block up */
  box-shadow: 0 8px 12px rgba(0,0,0,0.15); /* slightly larger shadow */
  cursor: pointer;
}

.block ul {
    padding: 10px;
}


.services {
    display: flex;
    flex-direction: column;
    padding: 100px;
    justify-content: space-between;

}
.block-header{
    display: flex;
    align-items: center;
    justify-content: center;
}
.block p{
    margin: 0;
    max-width: 220px; 
}
.block h3{
    margin-bottom: 0;
}

.about {
    background-color: #1b264f;
    padding: 5%;
}


.about h2,
.about p {
  color: #f5f3f5;
}

.about-content {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    text-align: left;
}
.about-content2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 50%;
    
}

.socials {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10%;

}

.contact {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 10px;
}

.contact-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 400px;
    align-items: center;
    justify-content: center;
}





.contact-info{
    list-style: none;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.contact-info li {
    padding: 5px;
    color: #302b27;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.contact-info img {
    height: 30px;
    width: 30px;
    padding-right: 10px;
}

html {
    scroll-behavior: smooth;
}



@media (max-width: 1000px){
    .service-blocks{
        flex-direction: column;
        align-items: center;
    }
    .block-header{
        flex-direction: column;

    }
    .block {
        border-right: 0px;
        text-align: center;
        max-width: 500px;
        align-items: center;
    }
    .block:hover {
        transform: none; /* lifts the block up */
        box-shadow: none; /* slightly larger shadow */
        cursor: pointer;
    }
    .block-header img{
        height: 50px;
    }
    .banner img{
        width: 100%;
    }
    .about-content{
        flex-direction: column;
        text-align: center;
    }
    .contact{
        flex-direction: column;
    }
}



