.service-list {
    display: flex;
    flex-direction: column;
}
.row-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.row-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.service-block a{
    border-radius: 2px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.service-block:hover {
  transform: translateY(-8px); /* lifts the block up */
  box-shadow: 0 8px 12px rgba(0,0,0,0.15); /* slightly larger shadow */
  cursor: pointer;
}
@media (max-width: 500px) {
    .row-1 {
        flex-direction: column;
    }
    .row-2 {
        flex-direction: column;
    }
    .hamburger {
    display: block;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: #1b264f;
    padding: 1rem 0;
  }

  .nav-links.active {
    display: flex;
  }

  .nav-links li {
    text-align: center;
    padding: 1rem 0;
  }
}


@media (max-width: 728px) {
    .service-block:hover{
        transform: none; /* lifts the block up */
        box-shadow: none; /* slightly larger shadow */
        cursor: pointer;
    }
}