.page-content{
    padding: 20px 50px;
}
.page-header {
    background-color: #e5e5e5;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.page-header a {
    padding: 20px;
    color: #1b264f;
    text-align: right;
}


.header-text {
    padding: 10px 50px;

}
.cta{
    justify-content: center;
    align-items: center;
}
.cta-text{
    text-align: left;
}