body{
    text-align: left;
}

a {
    color: #fff;
   text-decoration: none; 
}


.post-header {
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: #e5e5e5;
}
.post-header h1 {
    padding-bottom: 10px;
   margin-top: 20px;
   margin-bottom: 0;
   border-bottom: #1b264f 1px solid;
}
.post-meta{
    padding-top: 20px;
    margin-bottom: 20px;
}

.post-content {
    padding: 10px 50px;

}

.header h3 {
    text-align: left;
    padding: 10px 50px;
}

.post-cta {
    background-color: #e5e5e5;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 50px 50px;
}

.post-cta h3 {
    color: #1b264f;
}


/* CSS */
.button-9 {
  appearance: button;
  backface-visibility: hidden;
  background-color: #1b264f;
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-size: 100%;
  height: 44px;
  line-height: 1.15;
  margin: 12px;
  outline: none;
  overflow: hidden;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all .2s,box-shadow .08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;

}



.button-9:focus {
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
}

.final-stuff{
    display: flex;
    flex-direction: column;
    justify-content: center;
     align-items: center;
}

.insurance {
    justify-content: center;
    align-items: center;
}

.contact {
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 10px;
    text-align: center;
}

.post-cta h3, p {
    text-align: left;
}

.contact-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.contact-info{
    list-style: none;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}


