/* Navbar container */
h1, h2{
    color: #1b264f;
}
p{
    color: #302b27;
}


body{
    background-color: #f5f3f5;
    font-family: "Open Sans", sans-serif;
    align-items: center;
    text-align: center;
    margin: 0
}

h3 img {
  height: 20px;
  width: 20px;
}


.navbar {
  display: flex;                     /* makes logo, ul, and CTA horizontal */
  justify-content: space-between;    /* spreads the three main sections evenly */
  align-items: center;
  padding: 1rem 2rem;
  position: relative;
  background-color: #1b264f;
  border-bottom: #302b27 1px solid;
}
.hamburger {
  display: none;
  background-color: transparent;
  border: none;
  box-shadow: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}
a {
    text-decoration: none;
}

/* Nav links */
.nav-links {
  display: flex;                     /* horizontal list items */
  list-style: none;                  /* remove bullets */
  padding: 0;
  margin: 0;
  gap: 2rem;                         /* space between Services, About, Contact */
}

/* Links styling */
.nav-links li a {
  text-decoration: none;
  color: #f5f3f5;
  font-weight: 500;
  transition: color 0.3s;
}

.nav-links li a:hover {
  color: #0b5ed7;
}

.blogpost{
 display: flex;
 flex-direction: column;
 justify-content: left;
 text-align: left;
 margin: 0 50px;
 padding-left: 20px;
 padding-right: 20px;
 border-bottom:#1b264f 2px solid;

}

.blogpost:hover {
 cursor: pointer;
}







.socials {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10%;

}






html {
    scroll-behavior: smooth;
}


@media (max-width: 500px) {
  .hamburger {
    display: block;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: #1b264f;
    padding: 1rem 0;
  }

  .nav-links.active {
    display: flex;
  }

  .nav-links li {
    text-align: center;
    padding: 1rem 0;
  }
}


@media (max-width: 1000px){
    .service-blocks{
        flex-direction: column;
        align-items: center;
    }
    .block-header{
        flex-direction: column;

    }
    .block {
        border-right: 0px;
        text-align: center;
        max-width: 500px;
        align-items: center;
    }
    .block:hover {
        transform: none; /* lifts the block up */
        box-shadow: none; /* slightly larger shadow */
        cursor: pointer;
    }
    .block-header img{
        height: 50px;
    }
    .banner img{
        width: 100%;
    }
    .about-content{
        flex-direction: column;
        text-align: center;
    }
    .contact{
        flex-direction: column;
    }
}




